name: python-microservice-ci

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          cd src/python-service
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          cd src/python-service
          pytest

  code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8 linting
        run: |
          cd src/python-service
          flake8 .

  docker:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: src/python-service
          file: src/python-service/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/python-microservice:${{ github.run_id }}

  updatek8s:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update image tag in K8s deployment
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/python-microservice:${{ github.run_id }}|" kubernetes/python-service/deploy.yaml

      - name: Commit and Push changes
        run: |
          git config --global user.email "abhishek@gmail.com"
          git config --global user.name "Abhishek Veeramalla"
          git add kubernetes/python-service/deploy.yaml
          git commit -m "[CI]: Update python microservice image tag"
          git push origin HEAD:main -f
