name: python-microservice-ci

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          cd src/python-service
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Unit Tests
        run: |
          cd src/python-service
          pytest

  code-quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install flake8
        run: pip install flake8

      - name: Run flake8 linting
        run: |
          cd src/python-service
          flake8 .

  docker:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      # AWS CONFIG + ECR LOGIN
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Docker image to ECR
        uses: docker/build-push-action@v6
        with:
          context: src/python-service
          file: src/python-service/Dockerfile
          push: true
          tags: <AWS_ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/python-microservice:${{ github.run_id }}

  updatek8s:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update image tag in K8s deployment
        run: |
          sed -i "s|image: .*|image: <AWS_ACCOUNT_ID>.dkr.ecr.ap-south-1.amazonaws.com/python-microservice:${{ github.run_id }}|" kubernetes/python-service/deploy.yaml

      - name: Commit and Push changes
        run: |
          git config --global user.email "abhishek@gmail.com"
          git config --global user.name "Abhishek Veeramalla"
          git add kubernetes/python-service/deploy.yaml
          git commit -m "[CI]: Update python microservice image tag"
          git push origin HEAD:main -f
